.dice-roll {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.dice-roll img {
  margin: 50px;
}

@media only screen and (max-width: 960px)   {
  .dice-roll {
    padding: 10px;
  }
}

.rolling {
  animation-name: roll;
  animation-duration: 2s;
  transition: transform 1s ease;
}

@keyframes roll {
  from {
    transform: translate3d(0, 0, 0)
  }
  15% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }
  45% {
    transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  60% {
    transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
