:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: linear-gradient(to right,#7f7fd5, #86a8e7, #91eae4);
  margin: 0px;
}
