.container {
  height: 600px;
  max-width: 1000px;
  background-color: #fff;
  margin: 50px auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  border-radius: 20px;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 960px)   {
  .container {
    display: flex;
    max-width: 800px;
    min-height: 600px;
    flex-direction: column;
  }

  .container img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 768px)   {
  .container {
    max-width: 300px;
    padding: 50px 0px;
  }
}
